h1 {
    color: teal;
}

p strong{
    color: red;
}

.destacado, thead {
    color: orange;
}

h2, caption {
    color: blue;
}

p a {
    color: red;
}

p * em {
    color: blue;
}

p span {
    color: purple;
}

tfoot {
    color: red;
}
tr .especial {
    color: orange;
}

tr td {
    color: green;
}

td strong {
    color: orange;
}

[scope="row"] {
    color: red;
}

#adicional {
    color: olive;
}

#adicional span {
    color: olive;
}

#adicional #especial {
    color: fuchsia;
}

#adicional * a {
    color: green;
}


table {
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid black;
    padding: 3px;
  }

